<div id="apropos">
	<h3>A propos</h3>
	<p>Ce projet à été réalisé par Lénaïc Couellan et Raphaël Erfani dans le cadre d'un projet pédagogique lors du Master 2 DNR2i en novembre 2016.</p>
	<p>Source : <a href="http://www.seriebox.com">www.seriebox.com</a></p>
</div>