<div id="entete">
	<h1><a href="#description">Crawler SérieBox</a></h1>
	<nav id="menu" class="clearfix">
		<ul>
			<li><a id="menu_services" href="#description">DESCRIPTION</a></li>
			<li><a id="menu_domaines" href="#data">RESULTATS</a></li>
			<li><a id="menu_contact" href="#apropos">A PROPOS</a></li>
		</ul>
	</nav>
</div>